#CLion specific files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/deployment.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/other.xml

#Visual Studio Code specific files
compile_commands.json

#Visual Studio specific files
.vs/

#CMake build directories
build*/
cmake-build-*/

#Filesystem
.DS_Store
*.swp

#Doxygen output directories
docs/html/
docs/*.db

#Python specific files
venv/
*.pyc

#Node specific files
test/*.json
test/node_modules/*
CMakeSettings.json
